input{
    border: none;
    padding: 20px 30px;
    width: 500px;
    margin: 0px 80px 0 80px;
    background-color:rgba(15, 15, 15, .7);
    border-radius: 10px;
    color: white;
    display: block;
}
input:focus,
input:hover{
    outline: none;
    border: none;
    background-color:rgba(15, 15, 15, 1);
}
@media (max-width:1000px){
    input{
        width: 70%;
    }
}
@media (max-width:900px){
    input{
        width: 70%;
    }
}
@media (max-width:750px){
    input{
        width: 50%;
    }
}
@media (max-width:650px){
    input{
        width: 90%;
    }
}
@media (max-width:450px){
    input{
        width: 90%;
    }
}