.sectionDetail {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  color: white;
  cursor: default;
  overflow-x: hidden;
}
.sectionDetail h1 {
  font-size: 4rem;
  cursor: pointer;
}
.description {
  max-width: 40%;
  padding: 0 40px;
  height: inherit;
  background: linear-gradient(
    270deg,
    rgba(29, 29, 29, 0.6) 0%,
    rgba(29, 29, 29, 0.8) 60%
  );
}
.genres {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
}
.genres li {
  padding-right: 1rem;
  padding-bottom: 1.3rem;
  height: 1rem;
  display: flex;
  align-items: flex-start;
  color: rgb(153, 153, 153);
  transition: 0.3s;
}
.genres li:hover {
  color: white;
  transform: scale(1.05);
}
.genres li:not(:last-child) {
  border-right: 1px solid rgb(153, 153, 153);
}
.poster {
  display: none;
}
p {
  margin: 0;
  padding: 0;
}
.description div {
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 10px;
}
.containerDescript {
  color: rgb(190, 190, 190);
}
.divIcons {
  transition: 0.3s;
  z-index: 100;
}
.divIcons:hover {
  color: white;
  transform: scale(1.05);
}
.icons {
  width: 17px;
  display: inline-block;
  padding: 0;
}
.sinopse {
  letter-spacing: 1px;
}
@media (max-width: 1300px) {
  .sectionDetail h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1265px) {
  .icons {
    width: 20px;
  }
  .star {
    width: 20px;
  }
}

@media (max-width: 1150px) {
  .description {
    width: 500px;
  }
  .sectionDetail h1 {
    font-size: 2.8rem;
  }
  .description span {
    display: none;
  }
  .icons {
    width: 20px;
  }
  .star {
    width: 20px;
  }
}
@media (max-width: 870px) {
  .description {
    max-width: 50%;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .description div {
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
  }
  .sectionDetail h1 {
    font-size: 2.5rem;
  }
  .containerDescript {
    display: flex;
    flex-direction: column;
  }
  .divIcons {
    display: inline;
  }
}
@media (max-width: 870px) {
  .sectionDetail h1 {
    margin-bottom: 3rem;
  }
  .description {
    max-width: 100%;
    padding: 0 20px;
  }
  .sinopse{
    font-size: 1rem;
  }
}
