.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    background: rgb(20, 20, 20);
    padding: 100px 0 10px 0;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 1.5rem;
    margin: 20px 0;
    position: relative;
  }
  
  .movie li:hover {
    transform: scale(1.06);
    transition: 0.3s;
  }
  .results{
    position: absolute;
    top: 20px;
    color: rgba(255, 255, 255, .7);
  }