.lista{
  margin: 0 auto;
  font-family: var(--font-primary);
  overflow-x: hidden;
}

.movie {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: rgb(20, 20, 20);
  padding: 30px 0 10px 0;
  overflow-y: hidden;
  gap: 1.5rem;
  margin: 20px 0;
}

.movie li:hover {
  transform: scale(1.06);
  transition: 0.3s;
}