header {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
}
header h1 {
  color: red;
  font-family: var(--font-weight-title);
  font-size: 2rem;
  cursor: default;
  position: relative;
  
}
header h1:hover:after{
  content: '';
  display: block;
  width:6rem;
  height: 3px;
  background-color: red; 
  position: absolute;
  bottom: -5px;
  left: 2px;
  animation: titleAnimation .2s ease-in;
}

@keyframes titleAnimation {
    0%{
      width: 0rem;
    }
    100%{
      width: 6rem;
    }
}
header p {
  color: white;
  cursor: pointer;
}
header p:hover {
  color: cadetblue;
}

@media (max-width: 700px) {
  header {
    max-width: 500px;
  }
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
    gap: 40px;
  }
}
