.loading{
    position: absolute;
    color: red;
    width: 50px;
    text-align: center;
    animation: loading 1s ease-in-out infinite;
    left: -5rem;
}
@media (max-width: 650px){
    .loading{
        left: 5px;
    }
}
@keyframes loading{
    0%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(360deg)
    }
}