:root{
    --font-primary: 'Ubuntu', sans-serif;
    --font-weight-title: 700;
    --font-weight-primary: 400;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
li{
    cursor: pointer;
}

a{
    text-decoration: none;
}
body{
    font-family: var(--font-primary);
    background-color: rgb(29, 29, 29);
}
p{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}